<div class="flex justify-content-center flex-wrap">
  <p-card header="KFMD" subheader="Klee Forfait Mobilité Durable" class="flex justify-content-center flex-wrap m-4" >
    <ng-template pTemplate="header">

    </ng-template>
    <p>
      Bienvenue sur l'application Klee Forfait Mobilité Durable (Klee FMD).Elle est reservée aux collaborateurs salariés des entités de groupe Klee
    </p>
    <ng-template pTemplate="footer">
      <div class="flex gap-3 mt-1">
        <p-button routerLink="/achats" label="Accéder à l'application"   />
      </div>
    </ng-template>
  </p-card>
</div>
