<div class="container mt-3 col-md-6 offset-md-3">
<form [formGroup]="achatFormGroup" (ngSubmit)="handleAddAchat()">
  <div class="mb-3">
    <label class="form-label">Objet</label>
    <input type="text" formControlName="objet" class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label">prix</label>
    <input type="text" formControlName="prix" class="form-control">
  </div>

  <button [disabled]="!achatFormGroup.valid" class="btn btn-outline-primary">Save</button>
</form>
</div>
