<div class="container mt-3 col-md-6 offset-md-3">
<form [formGroup]="achatFormGroup" >
  <div class="mb-3">
    <label class="form-label">Objet</label>
    <input type="text" formControlName="objet" class="form-control">
    <div *ngIf="achatFormGroup.get('objet')?.invalid && achatFormGroup.get('objet')?.touched" class="alert alert-danger mt-2 py-1">
      <div *ngIf="achatFormGroup.get('objet')?.errors?.['required']" >L'objet de l'achat est obligatoire.</div>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">prix</label>
    <input type="text" id="prix" name="prix" formControlName="prix" class="form-control">
    <div *ngIf="achatFormGroup.get('prix')?.invalid && achatFormGroup.get('prix')?.touched" class="alert alert-danger mt-2 py-1">
      <div *ngIf="achatFormGroup.get('prix')?.errors?.['required']" >Le prix est obligatoire.</div>
      <div *ngIf="achatFormGroup.get('prix')?.errors?.['pattern']" >Le prix doit être un chiffre.</div>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">justificatif</label>
    <div>
      <input formControlName="file" type="file" class="btn btn-primary" (change)="onFileSelected($event)" style="margin-left: 10px" >
    </div>
    <div *ngIf="achatFormGroup.get('file')?.invalid && achatFormGroup.get('file')?.touched " class="alert alert-danger">
      <div *ngIf="achatFormGroup.get('file')?.errors?.['required']">File is required.</div>
    </div>
  </div>

  <button type="submit" [disabled]="!this.achatFormGroup.valid" (click)="handleAddAchat()" class="btn btn-outline-primary">Save</button>
</form>
</div>
