<div class="p-3">
  <div class="card">
    <div class="card-body">
      <nav>
        <button (click)="handleNouveauAchat()">Nouveau</button>
      </nav>
      <table class="table">
        <thead>
          <tr>
            <th>Objet</th>
            <th>prix</th>
            <th>valide</th>
            <th>editer</th>
            <th>supprimer</th>
            <th>afficher</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of achats">
            <td>{{ a.objet }}</td>
            <td>{{ a.prix }}</td>
            <td>{{ a.valide ?? 'En attente' }}</td>
            <td>
              <button class="btn btn-info" (click)="onEdit(a)">
                <span class="bi bi-pen"></span>
              </button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="onDelete(a)">
                <span class="bi bi-trash"></span>
              </button>
            </td>
            <td>
              <button class="btn btn-info" (click)="onDownload(a)">
                <span class="bi bi-download"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
