<div class="card">
  <button
    type="button"
    icon="pi pi-plus"
    pButton
    pRipple
    class="p-button-rounded p-button-text p-button-info"
    (click)="handleNouveauAchat()">
  </button>
</div>
<div class="card">
  <p-table [value]="achats" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Quantity</th>
        <th>Télécharger</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.objet }}</td>
        <td>{{ product.prix }}</td>
        <td>{{ product.valide }}</td>
        <td>
          <button
            type="button"
            pButton
            pRipple
            icon="pi pi-pen-to-square"
            class="p-button-rounded p-button-text p-button-info"
            (click)="onEdit(product)">
          </button>
        </td>
        <td>
          <button
            type="button"
            pButton
            pRipple
            class="p-button-rounded p-button-text p-button-danger"
            icon="pi pi-trash"
            (click)="onDelete(product)">
          </button>
        </td>
        <td>
          <button
            type="button"
            pButton
            pRipple
            class="p-button-rounded p-button-text p-button-danger"
            icon="pi pi-download"
            (click)="onDownload(product)">
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="p-3">
  <div class="card">
    <div class="card-body">
      <nav>
        <button (click)="handleNouveauAchat()">Nouveau</button>
      </nav>
      <table class="table">
        <thead>
          <tr>
            <th>Objet</th>
            <th>prix</th>
            <th>valide</th>
            <th>editer</th>
            <th>supprimer</th>
            <th>afficher</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of achats">
            <td>{{ a.objet }}</td>
            <td>{{ a.prix }}</td>
            <td>{{ a.valide ?? 'En attente' }}</td>
            <td>
              <button class="btn btn-info" (click)="onEdit(a)">
                <span class="bi bi-pen"></span>
              </button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="onDelete(a)">
                <span class="bi bi-trash"></span>
              </button>
            </td>
            <td>
              <button class="btn btn-info" (click)="onDownload(a)">
                <span class="bi bi-download"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
