<div class="p-3">
  <div class="card">
    <div class="card-body" >
      <nav>
        <button (click)="handleNouveauAchat()">Nouveau</button>
      </nav>
      <table class="table">
        <thead>
        <tr>
          <th>ID</th><th>Objet</th><th>userid</th><th>prix</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of achats">
            <td>{{a.id}}</td>
            <td>{{a.objet}}</td>
            <td>{{a.userid}}</td>
            <td>{{a.userid}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
